version: "3.8"

services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs:ro
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
    restart: unless-stopped

  acme-companion:
    image: nginxproxy/acme-companion:latest
    container_name: acme-companion
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./acme:/etc/acme.sh
    environment:
      - DEFAULT_EMAIL=lblue1256@gmail.com
    restart: unless-stopped

  web:
    image: ghcr.io/slavadoroshenko/maxsecret:latest
    container_name: web
    expose:
      - "80"
    environment:
      - VIRTUAL_HOST=maxsecret.ddns.net
      - LETSENCRYPT_HOST=maxsecret.ddns.net
      - LETSENCRYPT_EMAIL=lblue1256@gmail.com
    restart: unless-stopped
