name: CI/CD for React + Vite

on:
  push:
    branches: ["main"]

env:
  IMAGE_NAME: slavadoroshenko/maxsecret

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ env.IMAGE_NAME }}:latest
            ghcr.io/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          docker stop web || true
          docker rm web || true

          docker run -d \
            --name web \
            --network nginx-proxy \
            -e VIRTUAL_HOST=maxsecret.ddns.ru \
            -e LETSENCRYPT_HOST=maxsecret.ddns.ru \
            -e LETSENCRYPT_EMAIL=mixail_dremov@mail.ru \
            --restart unless-stopped \
            ghcr.io/slavadoroshenko/maxsecret:latest
